@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #141414;
    height: 100%;
    width: 100%;
    font-family: "Tinos", serif;
    overflow-x: hidden;
    cursor: none;
}


/* HEADER*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: transform 0.4s ease;
    z-index: 1000;
}
header img{
    width: 10%;
}

.hiddenHeader {
    transform: translateY(-110%);
}
.hiddenText{
    opacity: 0;
    visibility: hidden;
}


/* PRIMERA PARTE */



.firstSection{
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='1015' viewBox='0 0 1440 1015' fill='none'%3E%3Cpath d='M268 263.5C112.5 263.5 26.5 430.5 -13.5 412.5V710.5V1029.5H1452.5V0.5C1422.67 43.8333 1397.18 51.6577 1322.5 89C1243.5 128.5 1243.5 217 1127 231C990.979 247.346 1038 163.5 887 163.5C736 163.5 701.714 244.598 577.5 275.5C475 301 423.5 263.5 268 263.5Z' fill='%23fff6ec'/%3E%3C/svg%3E");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    background-color: #141414;
}
.fondoMac{
    background-image: url(./images/FondoMac.jpeg);
    background-position: 9% center;
    background-attachment: fixed;
    background-repeat: repeat;
    height: 75%;
    width:  35vw;
    border-radius: 12px;
    margin-top: 6%;
}
.firstText{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7%;
    margin-left: 1%;
    margin-right: 4%;
}
.titulo{
    font-size: 5.5vw;
    color: white;
    font-weight: 700;
    transition: opacity 0.7s ease, visibility 0.3s ease, transform 2s ease;
    letter-spacing: 3px;
}
.titulo span{
    background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.moveText{
    transform: translatey(-80%);
}
.subtitulo{
    font-size: 2.1vw;
    font-weight: 400;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px white;
    line-height: 1.3;
    margin-top: 10%;
}
.subtitulo2{
    color: white;
    text-shadow: none;
}
.buttonContainer{
    display: flex;
    width: 20vw;
    margin-top: 10%;
}
.button{
    width: 20vw;
    height: 6vh;
    border-radius: 12px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #440efc 17%, rgba(157,11,253,1) 70%, #e6007f 100%);;
    color: white;
    font-size: 1.4vw;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: none;
    transition: all 4s ease;
}
.button:hover{
    background: linear-gradient(90deg, #440efc 17%, #440efc 70%, #440efc 100%); 
}





/* IMAGE SLIDER*/


.image-slider {
    width: 100%; 
    height: 30vh; 
    background-color: #fff6ec;
    overflow: hidden; 
    position: relative;
    z-index: 1;
}


.image-container {
    display: flex; 
    animation: slide 15s linear infinite; 
    gap: 5%;
    height: 100%;
    align-items: center;
}


.image-container img {
    height: 90%; 
    width: auto;
    object-fit: cover; 
}

@keyframes slide {
    0% {
        transform: translateX(0%); /* Empieza desde la derecha (fuera de la pantalla) */
    }
    100% {
        transform: translateX(-100%); /* Termina en la izquierda (fuera de la pantalla) */
    }
}


/* SERVICIOS */

.servicios{
    height: 130%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    perspective: 1000px;
    background-color: #fff6ec;
}
.servicios h2{
    font-size: 6vw;
    margin-bottom: 5%;
    position: sticky;
    top: 10%;
}

.serviciosColumn{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.card{
    position: relative;
    height: 75vh;
    width: 70vw;
    border-radius: 12px; 
    background: linear-gradient(180deg, #e6007f 17%, rgba(157,11,253,1) 49%, rgba(68,14,252,1) 88%);
    padding: 0.5%;
    margin-bottom: 8%;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.card:hover{
    background: linear-gradient(180deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 49%, #e6007f 88%);
}
.card:hover h4{
    background: linear-gradient(180deg, #e6007f 17%, rgba(157,11,253,1) 49%, rgba(68,14,252,1) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cardContent {
    background-color: white; 
    border-radius: 12px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateZ(0);
    transform-style: preserve-3d;
    padding-left: 4%;
    padding-right: 10%;
    padding-bottom: 3%;
}


.cardContent h4{
    background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4vw;
    transition: transform 0.3s ease;
    margin-right: 40%;
    padding-bottom: 13%;
    padding-top: 10%;
}



.cardContent p{
    color: #000;
    font-size: 2.7vw;
    font-weight: 500;
    transition: transform 0.3s ease;
    text-shadow: 1px 1px 2px white;
}


#card1{
    position: sticky;
    top: 13%;
}
#cardFondo1{
    background-image: url(./images/LandingPage.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card2{
    position: sticky;
    top: 18%;
    
}
#cardFondo2{
    background-image: url(./images/MarketingRedes.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card3{
    position: sticky;
    top: 23%;
}
#cardFondo3{
    background-image: url(./images/DiseñoWeb.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card4{
    position: sticky;
    top: 28%;
}
#cardFondo4{
    background-image: url(./images/Mantenimiento.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}


/* ESTELA */


.trail-container {
    position: relative;
    z-index: 1500;
}

.trail {
    position: absolute;
    width: 15px; 
    height: 15px;
    background: #ffc9b0; 
    border-radius: 50%;
    pointer-events: none; 
    animation: fadeOut 1s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
    opacity: 1;
    transform: scale(1);
    }
    100% {
    opacity: 0;
      transform: scale(0.5); /* Reducir el tamaño gradualmente */
    }
}




/* NIVELES */

.seccionNiveles{
    height: 340vh;
    text-align: center;
    position: relative;
    padding-top: 5%;
    background-image: url(./images/Fondolargo1.jpg);
    background-size: cover;
    padding-bottom: 80vh;
}
.seccionNiveles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad */
    z-index: 1;
}

.seccionNiveles > * {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima de la capa */
}

.textoElevar{
    color: white;
    font-size: 4vw;
    text-shadow: 4px 4px 0px black;
}
.textoElevar span{
    background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5vw;
    text-shadow: none;
}
.textoContainer{
    position: sticky;
    top: 15%;
}

.nivelesContainer{
    position: sticky;
    top: 28%;
}
.niveles{
    position: absolute;
    top: 0;
    left: 0%;
    padding-left: 20%;
    padding-right: 20%;
    transition: opacity 0.5s ease-in-out;
}
.niveles h4{
    margin-top: 10%;
    font-size: 3.5vw;
    color: white;
    text-shadow: 4px 4px 0px black;
}
.niveles p{
    margin-top: 5%;
    font-size: 2.5vw;
    color: white;
    text-shadow: 4px 4px 0px black;
}


.cohete {
    position: absolute;
    width: 10vw; /* Ajusta el tamaño del cohete */
    top: 30%;
    right: 10%;
    transition: transform 0.1s linear;
}







.contacto{
    height: 100%;
    background-color: white;
    background-image: url(./images/fondoBlancod.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
}

.imagenContacto{
    width: 45%;
    height: auto;
    border-radius: 8%;
    overflow: hidden;
    z-index: 1;
}
.imagenContacto img{
    width: 100%;
    border-radius: 8%;
    transition: transform 8s ease;
    z-index: 1;

}
.imagenContacto img:hover{
    transform: scale(2);
}

.formulario{
    width: 45%;
    z-index: 1;
}

.contact-section {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
}

/* Encabezado del formulario */
.contact-header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    z-index: 1;
}

.contact-header h3 {
    font-size: 4vw;
    background: linear-gradient(90deg, #440efc 17%, #9d0bfd 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 8%;
    z-index: 1;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
    padding-bottom: 6%;
    padding-top: 2%;
    z-index: 1;
    max-width: 300px;
}

.info-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    color: #555;
    z-index: 1;
}
.info-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    z-index: 1;
}

.info-item img {
    width: 20%;
    margin-right: 3%;
    z-index: 1;
}

/* Formulario */
.contact-form {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
    z-index: 1;
}

label {
    font-size: 1vw;
    margin-bottom: 4%;
    color: #222222;
    z-index: 1;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    font-size: 1vw;
    transition: border-color 0.3s ease-in-out;
    z-index: 1;
    text-align: center;
    margin-bottom: 3%;
    color: #2c2c2c;
}
input::placeholder,
textarea::placeholder {
    color: #454545;
    font-size: 1.2vw;
}

input:focus, textarea:focus {
    border-color: #bcbcbc;
    outline: none;
}

/* Botón */
.botonEnviar {
    padding: 10px 15px;
    background: linear-gradient(90deg, #440efc 17%, rgba(157,11,253,1) 70%, #e6007f 100%);;;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.3vw;
    z-index: 1;
    cursor: none;
}

.botonEnviar:hover {
    background: rgba(68,14,252,1); 
    border: 2px solid #468189; 
}




/*FOOTER*/


footer{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 5%;
    background-color: #141414;
}
.footerIzq{
    width: 45%;
}
footer img{
    width: 50%;
}
footer h3{
    font-size: 2.5vw;
    background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footerDer a img{
    width: 30px;
    height: auto;
    cursor: none;
}
.footerDer{
    margin-top: 3%;
}
.footerInfo{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerInfo p{
    color: white;
    font-size: 1.2vw;
}








/*MEDIA QUERY */



@media (max-height: 600px) {
    .seccionNiveles{
        height: 530vh;
    }
}


@media (max-width: 460px) {

    header img{
        width: 30%;
    }
    .firstSection{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 5%;
        padding-left: 5%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='1015' viewBox='0 0 1440 1015' fill='none'%3E%3Cpath d='M198 242.5C42.5 242.5 26.5 356 -13.5 338V710.5V1029.5H1452.5V0.5C1422.67 43.8333 1397.18 51.6577 1322.5 89C1243.5 128.5 1243.5 217 1127 231C990.979 247.346 1038 163.5 887 163.5C736 163.5 627.856 366.193 503 338C410 317 353.5 242.5 198 242.5Z' fill='%23fff6ec'/%3E%3C/svg%3E");
        background-size: cover;
        background-attachment: fixed;
        padding-top: 30%;
        background-color: #141414;
    }
    .fondoMac{
        display: none;
    }
    .firstText{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2%;
    }
    .titulo{
        font-size: 13vw;
        color: white;
        font-weight: 700;
        transition: opacity 0.7s ease, visibility 0.3s ease, transform 2s ease;
        letter-spacing: 2px;
        margin-bottom: 10%;
        line-height: 1.9;
    }
    .subtitulo{
        font-size: 9vw;
        font-weight: 400;
        font-style: italic;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px white;
        line-height: 1.3;
        margin-top: 10%;
    }
    .buttonContainer{
        display: flex;
        width: 80vw;
        margin-top: 25%;
    }
    .button{
        width: 80vw;
        height: 6vh;
        border-radius: 12px;
        border: none;
        outline: none;
        background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);;
        color: white;
        font-size: 4vw;
        letter-spacing: 2px;
        font-weight: 600;
        cursor: none;
    }

    .image-container {
        display: flex; 
        animation: slide 10s linear infinite; 
        gap: 3%;
        height: 100%;
        align-items: center;
    }
    .image-slider{
        height: 20vh;
    }
    .servicios{
        flex-direction: column;
        height: 100%;
        padding-bottom: 10%;
        padding-top: 15%;
    }
    .servicios h2{
        font-size: 11vw;
        margin-bottom: 15%;
        position: sticky;
        top: 13%;
    }
    .card{
        width: 90vw;
        height: 40vh;
        margin-bottom: 15%;
    }
    .cardContent h4{
        font-size: 7vw;
        margin-top: -10%;
    }
    .cardContent p{
        font-size: 6vw;
    }
    .seccionNiveles{
        height: 400vh;
        text-align: center;
        position: relative;
        padding-top: 20%;
    }
    
    .textoElevar{
        color: white;
        font-size: 10vw;
        line-height: 1.5;
        margin-bottom: 20%;
    }
    .textoElevar span{
        background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10vw;
        
    }
    .textoContainer{
        position: sticky;
        top: 20%;
    }
    
    .nivelesContainer{
        position: sticky;
        top: 50%;
    }
    .niveles{
        position: absolute;
        top: 0;
        left: 0%;
        padding-left: 10%;
        padding-right: 10%;
        transition: opacity 0.5s ease-in-out;
    }
    .niveles h4{
        margin-top: 10%;
        font-size: 10vw;
        color: white;
        margin-bottom: 20%;
    }
    .niveles p{
        margin-top: 5%;
        font-size: 7vw;
        color: white;
    }
    .contacto{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagenContacto{
        width: 90%;
    }
    .formulario{
        width: 100%;
        z-index: 1;
        text-align: center;
        align-items: center;
    }
    .contact-section {
        width: 100%;
    }
    
    /* Encabezado del formulario */
    .contact-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        z-index: 1;
        text-align: center;
    }
    
    .contact-header h3 {
        font-size: 10vw;
        text-align: center;
    }
    
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-bottom: 10%;
        padding-top: 10%;
        z-index: 1;
        text-align: center;
    }
    
    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4vw;
        font-weight: 700;
        color: #000000;
        z-index: 1;
    }
    .info-item a{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: black;
        z-index: 1;
    }
    
    .info-item img {
        width: 25%;
        margin-bottom: 5%;
        z-index: 1;
    }
    
    /* Formulario */
    .contact-form {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
        z-index: 1;
        margin-bottom: 5%;
    }
    
    label {
        font-size: 3vw;
        margin-bottom: 5%;
        color: #333;
        z-index: 1;
    }
    
    input, textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        border: 1px solid #dcdcdc;
        border-radius: 12px;
        font-size: 3.5vw;
        transition: border-color 0.3s ease-in-out;
        z-index: 1;
    }
    
    input:focus, textarea:focus {
        border-color: #000000;
        outline: none;
    }
    input::placeholder,
textarea::placeholder {
    color: #2c2c2c;
    font-size: 4vw;
}
    
    /* Botón */
    .botonEnviar {
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 12px;
        font-size: 4vw;
        transition: background-color 0.3s ease-in-out;
        z-index: 1;
        margin-bottom: 15%;
    }
    footer{
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
    }
    .footerIzq{
        display: flex;
        justify-content: center;
    }
    footer img{
        width: 100%;
    }
    footer h3{
        font-size: 5vw;
        background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: 10%;
    }
    .footerDer p{
        font-size: 3vw;
        margin-top: 5%;
    }
    .footerInfo{
        flex-direction: column;
    }
    .cohete{
        display: none;
    }
}

