@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    font-family: "Tinos", serif;
    overflow-x: hidden;
}


/* HEADER*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 1000;
}
header a{
    width: 10%;
}
header img{
    width: 100%;
}


/* PRIMERA PARTE */



.firstSection{
    height: 105vh;
    background-color: #141414;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.firstSection video {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    z-index: 1;
    opacity: 0.4;
}
.firstSection a{
    text-decoration: none;
    color: white;
}
.ofrecemos{
    position: absolute;
    top: 4%;
    right: 25%;
    font-size: 1.5vw;
    font-weight: 500;
}

.titulo{
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 20%;
    font-size: 6.5vw;
    color: white;
    font-weight: 700;
    transition: opacity 0.7s ease, visibility 0.3s ease, transform 2s ease;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
    line-height: 1.3;
    z-index: 3;
}


.subtitulo{
    position: absolute;
    top: 62%;
    font-size: 2.7vw;
    font-weight: 550;
    font-style: italic;
    color: white;
    line-height: 1.3;
    text-shadow: 1px 1px 2px black;
    z-index: 3;
    animation-duration: 2s;
    animation-delay: 2s;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 13%;
    z-index: 3;
    animation-duration: 2s;
    animation-delay: 2s;
}
.button{
    width: 25vw;
    height: 7vh;
    border-radius: 12px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #440ea7 60%, #be1622 100%);
    color: white;
    font-size: 1.4vw;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: none;
}
.button:hover{
    background: #440ea7; 
}








/* SERVICIOS */

.servicios{
    height: auto;
    display: flex; 
    flex-direction: column;
    padding-top: 7%;
    background-color: #ffffff;
    background-image: url(./images/FondoCurvas.png);
    background-size: cover;
    background-position: center;
}
.servicios h2{
    font-size: 6vw;
    position: sticky;
    top: 10%;
    color: #440ea7;
    margin-bottom: 20%;
    margin-left: 10%;
    text-shadow: 
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
    1px  1px 0 rgb(255, 255, 255);
}
.textoServicios{
    font-size: 2vw;
    font-weight: 600;
    margin-top: -20%;
    margin-bottom: 15%;
    position: sticky;
    top: 23%;
    margin-left: 10%;
    text-shadow: 
    -1px -1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
    1px  1px 0 rgb(255, 255, 255);
}

.serviciosColumn{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.card{
    position: relative;
    height: 75vh;
    width: 85vw;
    margin-bottom: 8%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow:  -5px -5px 12px #5a5a5a,
                5px 5px 9px #ffffff;
}
.card:hover{
    box-shadow:  -5px -5px 12px #5a5a5a,
    -5px -5px 12px #5a5a5a;
}


.cardContent {
    background-color: white; 
    border-radius: 12px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateZ(0);
    transform-style: preserve-3d;
    padding-left: 4%;
    padding-right: 10%;
    padding-bottom: 3%;
}


.cardContent h4{
    background: linear-gradient(90deg, #440ea7 50%, #be1622 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.7vw;
    transition: transform 0.3s ease;
    margin-right: 40%;
    padding-bottom: 7%;
    padding-top: 10%;
}



.cardContent p{
    color: #000;
    font-size: 2vw;
    font-weight: 500;
    transition: transform 0.3s ease;
    text-shadow: 1px 1px 2px white;
    margin-right: 40%;
}


#card1{
    position: sticky;
    top: 12%;
}
#cardFondo1{
    background-image: url(./images/LandingPage.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card2{
    position: sticky;
    top: 16%;
    
}
#cardFondo2{
    background-image: url(./images/MarketingRedes.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card3{
    position: sticky;
    top: 20%;
}
#cardFondo3{
    background-image: url(./images/SEO.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}
#card4{
    position: sticky;
    top: 24%;
}
#cardFondo4{
    background-image: url(./images/Mantenimiento.jpg);
    background-position: top right; /* Ubicación en la esquina inferior derecha */
    background-repeat: no-repeat; /* Evita que se repita */
    background-size: 40%;
}


/* ESTELA */


.trail-container {
    position: relative;
    z-index: 1500;
}

.trail {
    position: absolute;
    width: 15px; 
    height: 15px;
    background: #ffc9b0; 
    border-radius: 50%;
    pointer-events: none; 
    animation: fadeOut 1s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
    opacity: 1;
    transform: scale(1);
    }
    100% {
    opacity: 0;
      transform: scale(0.5); /* Reducir el tamaño gradualmente */
    }
}

/* WHATSAPP*/

.whatsapp{
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 5.5%;
    z-index: 1000;
    text-decoration: none;
}
.whatsapp img{
    width: 100%;
}



/* IMAGE SLIDER*/


.image-slider {
    width: 100%; 
    height: 30vh; 
    overflow: hidden; 
    position: relative;
    z-index: 1;
}


.image-container {
    display: flex; 
    animation: slide 15s linear infinite; 
    gap: 5%;
    height: 100%;
    align-items: center;
}


.image-container img {
    height: 90%; 
    width: auto;
    object-fit: cover; 
}

@keyframes slide {
    0% {
        transform: translateX(0%); /* Empieza desde la derecha (fuera de la pantalla) */
    }
    100% {
        transform: translateX(-100%); /* Termina en la izquierda (fuera de la pantalla) */
    }
}





/* TRABAJOS */

.seccionTrabajos{
    height: 100%;
    background-image: linear-gradient(rgba(41, 41, 41, 0.5), rgba(46, 46, 46, 0.5)), url(./images/fondo2.jpg);
    background-size: cover;
    padding: 5%;
    z-index: 4;
}
.seccionTrabajos h2{
    margin-bottom: 9%;
    margin-top: 3%;
    margin-left: 5%;
    font-size: 4.5vw;
    color: white;
}
.trabajos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trabajo{
    width: 30%;
    height: 80vh;
    border-radius: 12px;
    transition: transform 1s ease;
    z-index: 4;
}
.trabajo:hover{
    transform: scale(1.2);
    box-shadow:  -5px -5px 12px #a2a2a2,
    5px 5px 9px #a2a2a2;
}

#trabajo1{
    background-image: url(./images/mbau.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#trabajo2{
    background-image: url(./images/petit.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#trabajo3{
    background-image: url(./images/cure.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}






/*CONTACTO*/

.contacto{
    height: 100%;
    background-color: white;
    background-image: url(./images/fondoBlancod.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.imagenContacto{
    width: 35%;
    height: 100vh;
    border-radius: 8%;
    z-index: 3;
    background-image: url(./images/FondoMac.jpeg);
    background-size: contain;
    background-repeat: repeat;
    background-position: right;
    background-attachment: fixed;
    display: flex;
}


.formulario{
    width: 60%;
    z-index: 1;
}


/* Encabezado del formulario */
.contact-header {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    margin-bottom: 6%;
    z-index: 1;
}

.contact-header h3 {
    font-size: 3.5vw;
    background: linear-gradient(90deg, #440ea7 50%, #be1622 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1%;
    z-index: 1;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    z-index: 1;
    max-width: 300px;
}

.info-item {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5vw;
    color: #555;
    z-index: 1;
}
.info-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    z-index: 1;
}

.info-item img {
    width: 20%;
    margin-right: 7%;
    z-index: 1;
}

/* Formulario */
.contact-form {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    z-index: 1;
}

label {
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 3%;
    color: #222222;
    z-index: 1;
    text-align: center;
}

input, textarea {
    width: 70%;
    padding: 1%;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    font-size: 1.2vw;
    font-weight: 500;
    transition: border-color 0.3s ease-in-out;
    z-index: 1;
    text-align: center;
    margin-bottom: 1%;
    color: #2c2c2c;
}
input::placeholder,
textarea::placeholder {
    color: #454545;
    font-size: 1.2vw;
}

input:focus, textarea:focus {
    border-color: #bcbcbc;
    outline: none;
}

/* Botón */
.botonEnviar {
    padding: 10px 15px;
    background: linear-gradient(90deg, #440ea7 50%, #be1622 100%);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1.3vw;
    z-index: 1;
    cursor: none;
    width: 60%;
    margin-left: 20%;
}

.botonEnviar:hover {
    background: #440ea7;  
}




/*FOOTER*/


footer{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 5%;
    background-color: #141414;
}
.footerIzq{
    width: 45%;
}
footer img{
    width: 30%;
}
footer p{
    font-size: 1.3vw;
    width: 80%;
    color: white;
    padding-left: 3%;
}
footer h3{
    font-size: 2.5vw;
    background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footerDer a img{
    width: 30px;
    height: auto;
    cursor: none;
}
.footerDer{
    margin-top: 3%;
}
.footerInfo{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerInfo p{
    color: white;
    font-size: 1.2vw;
}








/*MEDIA QUERY */





@media (max-width: 460px) {
    header a{
        width: 30%;
    }
    .firstSection{
        height: 100vh;
    }
    .firstText{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2%;
    }
    .titulo{
        font-size: 13vw;
        color: white;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 10%;
        line-height: 1.5;
    }
    .subtitulo{
        font-size: 9vw;
        top: 55%;
    }
    .buttonContainer{
        display: flex;
        width: 80vw;
    }
    .button{
        width: 80vw;
        height: 6vh;
        border-radius: 12px;
        border: none;
        outline: none;
        font-size: 5.5vw;
        letter-spacing: 2px;
        font-weight: 600;
        cursor: none;
    }




    .image-container {
        display: flex; 
        animation: slide 10s linear infinite; 
        gap: 3%;
        height: 100%;
        align-items: center;
    }
    .image-slider{
        height: 20vh;
    }




    .servicios{
        flex-direction: column;
        height: 100%;
        padding-bottom: 10%;
        padding-top: 15%;
    }
    .servicios h2{
        font-size: 11vw;
        margin-bottom: 10%;
        position: sticky;
        top: 13%;
    }
    .textoServicios{
        font-size: 5vw;
        margin-bottom: 20%;
        margin-top: -5%;
    }



    .card{
        width: 90vw;
        height: 450px;
        margin-bottom: 15%;
    }
    .cardContent {
        background-color: white; 
        border-radius: 12px;
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        transition: transform 0.3s ease, color 0.3s ease;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
    }
    .cardContent h4{
        font-size: 8vw;
        margin-top: 0px;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    .cardContent p{
        font-size: 6vw;
        margin-right: 0%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0;
    }
    #mantenimiento{
        font-size: 7.5vw;
    }



.seccionTrabajos{
    flex-direction: column;
    padding-top: 15%;
}
.seccionTrabajos h2{
    font-size: 9vw;
    margin-bottom: 25%;
}
.trabajos{
    flex-direction: column;
}
.trabajo{
    width: 92%;
    height: 65vh;
    margin-bottom: 15%;
}




    .contacto{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagenContacto{
        width: 100%;
        height: 50vh;
    }
    .formulario{
        width: 100%;
        z-index: 1;
        text-align: center;
        align-items: center;
    }
    .contact-section {
        width: 100%;
    }
    
    /* Encabezado del formulario */
    .contact-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        z-index: 1;
        text-align: center;
    }
    
    .contact-header h3 {
        font-size: 10vw;
        text-align: center;
    }
    
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-bottom: 10%;
        padding-top: 10%;
        z-index: 1;
        text-align: center;
    }
    
    .info-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4vw;
        font-weight: 700;
        color: #000000;
        z-index: 1;
    }
    .info-item a{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: black;
        z-index: 1;
    }
    
    .info-item img {
        width: 25%;
        margin-bottom: 5%;
        z-index: 1;
    }
    
    /* Formulario */
    .contact-form {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 3%;
        z-index: 1;
        margin-bottom: 5%;
    }
    
    label {
        font-size: 3vw;
        margin-bottom: 5%;
        color: #333;
        z-index: 1;
    }
    
    input, textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 15px;
        border: 1px solid #dcdcdc;
        border-radius: 12px;
        font-size: 3.5vw;
        transition: border-color 0.3s ease-in-out;
        z-index: 1;
    }
    
    input:focus, textarea:focus {
        border-color: #000000;
        outline: none;
    }
    input::placeholder,
textarea::placeholder {
    color: #2c2c2c;
    font-size: 4vw;
}
    
    /* Botón */
    .botonEnviar {
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 12px;
        font-size: 4vw;
        transition: background-color 0.3s ease-in-out;
        z-index: 1;
        margin-bottom: 15%;
    }

    .whatsapp{
        position: fixed;
        bottom: 1%;
        right: 5%;
        width: 20%;
        z-index: 1000;
        text-decoration: none;
    }
    .whatsapp img{
        width: 100%;
    }




    footer{
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
    }
    .footerIzq{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    footer p{
        font-size: 3.5vw;
        width: 80%;
    }
    footer img{
        width: 50%;
    }
    footer h3{
        font-size: 5vw;
        background: linear-gradient(90deg, rgba(68,14,252,1) 17%, rgba(157,11,253,1) 70%, #e6007f 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: 5%;
    }
    .footerDer p{
        font-size: 3vw;
        margin-top: 2%;
        text-align: center;
    }
    .footerInfo{
        flex-direction: column;
    }

}

